html, 
body,
#root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(55, 55, 83);
}

canvas{
    touch-action: none;
}

.title{
    position:absolute;
    z-index: 1;
    color: white;
}
